.header {
    height: 100px;
    width: 100%;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.content {
    padding: 10px;
}
